.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 82.75%;
  border-radius: .25rem;
  transition: 500ms;
}
.card {
  width: 100%;
  min-height: 85vh;
  max-height: 769px;
  padding-bottom: 3em;
  transition: transform 500ms ease;
}
.image{
  object-fit: contain;
}