/* .box {
  height: 200rem;
  /* max-height: 35vh; */
/* }
.CardGroup {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.CardGroup {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.grid > div {
    flex-basis: clac(20%-40px); 
}  */ 
